
<!doctype html>
<html lang="en" ng-app="miAplicacion">
    <head>
        <meta charset="utf-8">
        <title>Ejemplo  Angular</title>

        <script src="lib/angular.min.js" type="text/javascript"></script>
        <script src="lib/jquery-1.11.3.min.js" type="text/javascript"></script>
        <!--<script src="js/ValidarFormularioAlta.js" type="text/javascript"></script>-->
        <script src="js/Cargardatos_ANGULAR.js" type="text/javascript"></script>
        <!-- Importamos los archivos extras que vamos a usar -->
        <!--<script src="js/login.js" type="text/javascript"></script>-->
        <link href="css/css.css" rel="stylesheet" type="text/css"/>
        <link href="css/cargardatos.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div  ng-controller="mainController"> 
        <!-- *********************************   ZONA Login   *********************************************** -->
        <div class="account-wall" ng-show="verLogin==='true'">
		<form class="form-signin" ng-submit="login()">
			<div class="form-group has-feedback">
			<input ng-model="usuario.user" class="form-control" type="text" name="email" placeholder="Usuario" required autofocus email/>
			<i class="glyphicon glyphicon-user form-control-feedback"></i>
			</div>
			<div class="form-group has-feedback">
		    	<input ng-model="usuario.password" class="form-control" type="password" name="pass" placeholder="Contraseña" required />
		    	<i class="glyphicon glyphicon-asterisk form-control-feedback"></i>
		    	</div>
			<button class="btn btn-lg btn-info btn-block" type="submit">ACCEDER</button>
		</form>
            </div>
 <!-- *********************************   ZONA MENU   *********************************************** -->
           
 <div id="superiorMenu" ng-show="verBotones==='true'" >
     <input type="button" value="ZIKLOAK" ng-click="mostrarCiclos()"/>
                <input type="button" value="IKASLEEN GESTIOA" ng-click="mostrarAlumnos()"/>
                <input type="button" value="KONTSULTAK" ng-click="buscar()"/>
                <br><br>
                           </div>
  <hr>
  <!-- *********************************   ZONA VER CICLOS   *********************************************** -->
           
  <div id="zonaZIKLOAK"  ng-show="verCiclos==='true'">
                <h1>ZIKLOEN ZERRENDA</h1>    
                <table id="listaciclos" border="3" align="center">
                    <tr>
                        <th>Zikloaren Izena</th> 
                        <th>Familia Profesionala</th> 
                    </tr>
                    <tr ng-repeat="item in listaZIKLOAK">
                        <td>{{item.zikloIzena}}</td> 
                        <td>{{item.familia}}</td> 
                    </tr>
                </table>
            </div>  
   <!-- *********************************   ZONA VER ALUMNOS   *********************************************** -->

            <div id="zonaIKASLEAK"  ng-show="verAlumnos==='true'">
                <h1>IKASLEEN ZERRENDA</h1>    
                <ul id="listaalumnos" ng-repeat="item in ikasle">
                    <li>{{item.id}}</li>
                    <li>{{item.nombre}}</li>
                    <li>{{item.apellido1}}</li>
                    <li>{{item.apellido2}}</li>
                    <li>{{item.ciclo}}</li>
                    <li>{{item.curso}}</li>
                </ul>
                <input type="button" value="IKASLE BERRIA" ng-click="iniciarAgregar()" ng-show="verOpciones==='true'"/>
                <input type="button" value="IKASLEA EZABATU" ng-click="iniciarBorrar()" ng-show="verOpciones==='true'"/>
            </div>
    <!-- *********************************   ZONA AGREGAR ALUMNO   *********************************************** -->

            <div id="datosAlumnoNuevo" ng-show="verAgregarAlumnos==='true'">
                <form id="formagregar"   ng-submit="agregar()">

                    <label> ID</label>        <input type="text"  ng-model="misdatos.id" disabled/><br>
                    <label>NOMBRE </label>    <input id="minombre" type="text"  ng-model="misdatos.nombre"/><br>
                    <label> APELLIDO1</label> <input type="text"  ng-model="misdatos.apellido1"/><br>
                    <label>APELLIDO2</label>  <input type="text"  ng-model="misdatos.apellido2"/><br>
                    <label>CICLO</label>      <select name="ciclo" ng-model="misdatos.ciclo">
                        <option ng-repeat="ciclos in listaZIKLOAK">{{ciclos.zikloIzena}}</option>
                    </select><br>
                    <label> CURSO</label>     <select  name="curso"  ng-model="misdatos.curso" ng-disabled="misdatos.ciclo===''">
                    <option value="primero">primero</option>
                    <option value="segundo">Segundo</option>
                    </select>

                    <input type="submit" value="Agregar Alumno" />
                    <input type="reset" value="Cancelar"  ng-click="cancelar()"/>
                </form>
            </div>
     <!-- *********************************   ZONA BORRAR ALUMNO   *********************************************** -->
            
            <div id="datosAlumnoBorrar" ng-show="verBorrarAlumnos==='true'">
                <form id="formborrar"  ng-submit="borrarAlumno()" >
                    <label>AUKERATU EZABATU NAHI DEN IKASLEA</label>      
                    <select name="ikaslea" id="seleccionAlumno"  ng-model="misdatos.idBorrar">
                        <option ng-repeat="alumnos in ikasle" value="{{alumnos.id}}">{{alumnos.id}} {{alumnos.nombre}} {{alumnos.apellido1}} {{alumnos.apellido2}}</option>
                    </select><br>

                    <input type="submit" value="Borrar Alumno" />
                    <input type="reset" value="Cancelar"  ng-click="cancelar()"/>
                </form>
            </div>
     <!-- *********************************   ZONA CONSULTAS   *********************************************** -->
            
            <div id="zonaConsultas" ng-show="verConsultas==='true'">
                <h3>KONTSULTAK EGITEKO AUKERA</h3>
                <label> Escriba alumnos por ciclo:</label> <input name="buscar" id="buscar" type="text"  ng-model="TEXTObusqueda">
                <hr>
                <ul id="listaalumnos">
                    <li  ng-repeat="item in ikasle | filter:{ciclo:TEXTObusqueda}"> 
                        <span class ="medio"> {{item.id}}</span>
                        <span class ="medio"> {{item.nombre}}</span>
                        <span class ="medio"> {{item.apellido1}}</span>
                        <span class ="medio"> {{item.apellido2}}</span>
                        <span class ="grande"> {{item.ciclo}}</span>
                        <span class ="medio"> {{item.curso}}</span>
                    </li>
                </ul>
                <input type="button" value="IRTEN" ng-click="finBuscar()"/>
            </div>
     <!-- *********************************     *********************************************** -->
        </div>
    </body>
</html>